.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    width: 100%;
    margin-top: 80px;
    padding: 2rem;
    box-sizing: border-box;
    flex: 1;
}